body {
    background-color: rgb(174, 197, 204);
  }
  h1 {
      
    color: red;
    text-align: center;
 }
 button {
    color: red;
    background-color: rgb(23, 183, 231);
    text: shadow 1px; ;

    }
    h2  {
        color:blue;
        text-align: center;
        list-style-position: inside;
        }   
    